* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    width: auto;
    overflow-x: hidden;
}


#navbar {
    height: 20px;
    min-width: 100%;
    padding: 2vw 0vw;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 100;
    background-color: #f4f4f4;
}

#navbar>#nav1 {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-left: 70px;
}

#navbar>#nav1>#btn1 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 10px;
    border-left: 1p;
    padding: 0.5vw 0.5vw;
}

#navbar>#nav1>#btn2 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 10px;
    padding: 0.5vw 0.5vw;
}

#navbar>#nav1>#btn3 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 10px;
    padding: 0.5vw 0.5vw;
}

#navbar>#nav1>#btn4 {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-right: 10px;
    padding: 0.5vw 0.5vw;
}



#navbar>#nav2 {
    display: flex;
    align-items: center;
    margin-right: 70px;

}

#navbar>#nav2>h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a;
    font-weight: 500;
    color: black;
    position: relative;
    font-size: 18px;

}

#nav-center {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#nav-center>h2 {
    font-size: 40px;
    color: #FE6C6C;
}

#nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 2.5rem;
}

#nav-search:hover {
    border: 3px solid orange;
}

.input {
    width: 100%;
    font-size: 1rem;
}

#search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#cart {
    display: flex;
    justify-content: space-evenly;
}

#cart1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.5vw 0.5vw;
}

#cart2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1rem;
    padding: 0.5vw 0.5vw;
}

#nav-end {
    height: 70px;
    width: 100%;
    background-color: #FE6C6C;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

#nav-end-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    gap: 4rem;
}

#nav-end-div>#home:hover {
    height: 70px;
    width: 6vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-end-div>#books:hover {
    height: 70px;
    width: 6vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-end-div>#electronics:hover {
    height: 70px;
    width: 8.5vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-end-div>#furniture:hover {
    height: 70px;
    width: 7.2vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-end-div>#fashion:hover {
    height: 70px;
    width: 6.2vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #navbar {
        min-height: 80px;
        min-width: 100%;
        padding: 2% 0vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid gray;
    }

    #navbar>#nav1 {
        min-height: 80px;
        min-width: 100%;
        margin-left: 1rem;
    }

    #navbar>#nav2 {
        display: none;
    }

    #nav-center {
        min-height: 80px;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0.5rem;
    }

    #nav-center>h2 {
        font-size: 20px;
        color: #FE6C6C;
        margin-left: 0.5rem;
    }

    #nav-search {
        min-width: 100px;
        height: 2.5rem;
    }


    #cart {
        display: none;
        max-height: 40px;
        max-width: 30px;
    }

    #nav-end {
        min-height: 0px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-end-div {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4.2rem;
    }

    #nav-end-div h4 {
        font-size: 1rem;
        margin-left: -35px;
    }

    #nav-end-div>#home:hover {
        display: none;
    }

    #nav-end-div>#books:hover {
        display: none;
    }

    #nav-end-div>#electronics:hover {
        display: none;
    }

    #nav-end-div>#furniture:hover {
        display: none;
    }

    #nav-end-div>#fashion:hover {
        display: none;
    }
}