#hero-img {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url('./images/hero-image2.jpeg');
    background-size: cover;
    background-position: center;
}

#hero-divs {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 200px;
    justify-content: space-evenly;
    margin-top: 2%;
}

#hero-div-1 {
    padding: 1rem 1rem;
    border: 2px solid black;
    gap: 1rem;
}

#hero-div-2 {
    padding: 1rem 1rem;
    border: 2px solid black;
}

#hero-div-3 {
    padding: 1rem 1rem;
    border: 2px solid black;
}

#hero-div-1 h3 {
    font-size: 1.5rem;
    color: #FE6C6C;
    margin-left: 1rem;
}

#hero-div-2 h3 {
    color: #ffbf00;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#hero-div-3 h3 {
    color: #FE6C6C;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#home1 {
    height: 70px;
    width: 100%;
    background-color: #a2d2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 1rem;
}

#home>h3 {
    margin-left: 4rem;
}

.shop-section {
    /* margin-top: 0.8rem; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #FE6C6C;    */
}

.box {
    height: auto;
    min-width: 300px;
    background-color: white;
    margin-top: 2rem;
    padding: 20px 5px;
    box-shadow: 2px 7px #313f626b;
    border-radius: 10px;
}

.box-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content button {
    background-color: rgb(41, 77, 194);
    color: white;
    height: 4vh;
    width: 7vw;
    margin-top: 0.7rem;
    margin-left: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content h4 {
    margin-left: 4rem;
}

.price {
    margin-top: 0.7rem;
    color: red;
}

@media screen and (width < 800px) {
    #hero-img {
        height: 80vh;
        width: 100%;
    }
}